// =====================================================
// PATHS
// =====================================================

// customize bootstrap variables here:
$icon-font-path:        "../fonts/glyphicons/";
$bootstrap-sass-asset-helper: false;



// =====================================================
// COLORS
// =====================================================

$main_color:            #dddddd;
$text_color:            #333333;

$background:            #fdfcfa;

$text:                  #000000;
$text_asset:            #666666;
$text_on_active:        #ffffff;
$text_input:            #000000;
$link:                  #666666;
$button:                #ffffff;
$button_hover:          #ffffff;
$error:                 #db0711;
$active:                #000000;
$disabled:              #c5c5c5;

$lines:                 #cccccc;  // dashed lines
$border_lines:          #cccccc;  // input rahmen z.b.
$border_assets:         #e3e3e3;

$bg_keywords:           #cccccc;
$bg_navigation_hover:   #cccccc;

$bg_footer:             #ffffff;
$bg_slider:             #cccccc;
$bg_left:               #f3f3f3;
$bg_dialogs:            #ffffff;
$bg_search:             #ffffff;
$bg_asset:              #ffffff;
$bg_asset_hover:        #f3f3f3;

$asset_checkbox:        #e3e3e3;

/* navigation */
$nav_link:              #ffffff;
$nav_link_hover:        #ffffff;
$nav_bg:                #ffffff;
$nav_bg_active:         #000000;
$nav_bg_collection:     #ffffff;


$asset-path:            'Default';

